@import '~antd/dist/antd.less';
@import '../../variables.less';

.menu-container {
  width: 250px;
  overflow-y: auto;
  background-color: @gray !important;
}

.menu-container-mobile {
  z-index: 99;
  color: white;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.8;
  height: @height-menu;
  background-color: @gray !important;
  min-width: 100vh;
}

.menu-container-drawer {
  background-color: @gray !important;
  height: 100%;
}
