@import '~antd/dist/antd.less';
@import 'variables.less';

#root {
  height: 100%;
}

.screen-content {
  min-height: calc(100% - (@height-menu + @height-footer));
}

.color-white {
  color: @white !important;
}

.bold {
  font-weight: bold;
}

.image-cover {
  object-fit: contain;
}

.flex-column {
  display: flex;
  flex: 1 0 200px;
  margin-right: 10px;
  margin-left: 10px;
  flex-wrap: wrap;
  flex-direction: column;
}

@media screen and (max-height: 575px) {
  #rc-imageselect,
  .g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}

.ant-upload-list-picture-card .ant-upload-list-item-thumbnail,
.ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
  object-fit: cover !important;
}

.image-cover {
  img {
    object-fit: cover;
  }
}

.default-container {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 900px) {
  .default-container {
    flex-direction: column;
  }
}

.default-screen {
  padding: 20px;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.ant-menu-item-selected {
  background-color: black !important;
}
