@import '../../variables.less';

.user-info-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-info-icon {
  color: white;
  background-color: lightgrey;
  border-radius: 50px;
  font-size: 50px;
  padding: 10px;
}

.user-text {
  margin-top: 10px;
  line-height: 1.5;
  text-align: center;
}
